# Server Configuration
NODE_ENV=development
PORT=8000
BASE_PATH=/api

# Database
MONGO_URI=mongodb+srv://drstevenmiller11:drstevenmiller11AISaas@aisaasclutster.r5y0yzl.mongodb.net/

# JWT Configuration
JWT_SECRET=jwt_secret_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

# Google AI (Gemini)
GEMINI_API_KEY=AIzaSyAU2-OOj5VL2w-Z1HQ9k2znRdj_Fu3PP9k

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=upload123
CLOUDINARY_API_KEY=682715544766548
CLOUDINARY_API_SECRET=sTthU9lByz1RBIbgW8cu8cXPQ4w

# Email Configuration (Resend)
RESEND_API_KEY=re_QEHxe3jG_3KPk3PcSAfbvpCPXEGQk18mc
RESEND_MAILER_SENDER=your_email@example.com

# Frontend URL
FRONTEND_ORIGIN=http://localhost:5173 